.icon 
{
    width:  24px;
    height: 24px;
    margin: 3px;
    cursor: pointer;
}

.inputWrapper
{
    position: relative;
    padding-top: 9px;
    //display:inline-block;
}

.searchWrapper
{
    display: flex;
    justify-content: center;
    input[type=text]
    {
        border-radius: 5px 0px 0px 5px;
        max-width: 600px;
    }
    
    button
    {
        border-radius: 0px 5px 5px 0px;
    }

    //margin:5px;
    margin-bottom: 15px;   
}

select
{
    cursor: pointer;
    background-color: white;
    border-radius:    5px;
    border:           solid 1px $solarized-base1;
    padding:          5px;
    padding-right: 25px;
    font-size: 14px;
    padding-left:10px;
    color : #666;
    padding-top: 10px;
    min-width: 16ch;

    &:focus
    {
        border: solid 2px lighten(blue, 30%);

    }
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='black'><path d='M0 0h24v24H0z' fill='none'/><path d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}

label
{
    font-weight: bold;
    font-size:12px;
    position: absolute;
    top: 2px;
    left:10px;
    background-color: white;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    color : darken($solarized-base1, 35%);
}

input[type=text], input:not([type])
{
    background-color: white;
    border-radius:    5px;
    border:           solid 1px $solarized-base1;
    padding:          5px;
    width:            100%;
    padding-top: 10px;
    //margin-bottom: 5px;
    font-size: 14px;
    padding-left:10px;
    color : #666;
    &:focus
    {
        border: solid 2px lighten(blue, 30%);
        margin-bottom: 3px;
    }

    &.invalid
    {
        border: solid 2px lighten(red, 30%);
        //margin-bottom: 3px;
    }

    &.invalid:focus
    {
        border: solid 2px lighten(red, 20%);
        //margin-bottom: 3px;
    }

    &:focus::placeholder
    {
        color:transparent;
    }

    &::placeholder
    {
        font-size: 12px;
        font-style: italic;
        padding-left: 5px;
        color : #bbb;
    }
}

.validation-message
{
    font-size: 12px;
    padding-left: 5px;
    color : lighten(red, 20%);
}
textarea
{
    background-color: white;
    border-radius:    5px;
    border:           solid 1px $solarized-base1;
    padding-top: 10px;
    font-size: 14px;
    padding-left:10px;
    color : #666;    width:            100%;
    font-family: 'Courier New', Courier, monospace;
}

button
{
    background-color: $solarized-blue;
    border: solid 1px $solarized-blue;
    color: white;
    border-radius: 5px;
    padding:       5px;

    .icon 
    { 
        fill: white; 
        vertical-align: middle;
    }

    &:hover
    {
        cursor: pointer;
        background-color: darken($solarized-blue, 20%);
        border: solid 1px $solarized-blue;
    }        
}

button.SecondaryButton 
{
    background-color: transparent;
    border-color: transparent;

    .icon {
        //width: 20px;
        //height: 20px;
        color: black;
    }

    &:hover {
        border: solid 1px #ccc;
        border-radius : 5px;
    }
}

.listHeader
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    margin-left: 5px;
    margin-bottom: 10px;

    span
    {
        font-weight: bold;
        font-size: 20px;
    }

    border-bottom: dotted 1px color.scale($solarized-base2, $lightness: -75%);
}

.card
{
    background-color: $solarized-base2;
    max-width: 400px;
    margin:5px;
    padding: 5px;
    cursor: pointer;
}

tr
{
    background-color: white;
}

th
{
    background-color: $solarized-yellow;
    color:white;
}


th
{
    padding: 5px;

    &:first-child { border-top-left-radius: 5px;}
    &:last-child { border-top-right-radius: 5px;}
}

tr:nth-child(even)
{
    background-color: darken(white, 3%);
}

td
{
    padding: 5px;

    &:first-child
    {
        border-left: solid 1px $solarized-base1;
    }

    &:last-child
    {
        border-right: solid 1px $solarized-base1;
    }
    
    &:not(:last-child)
    {
        border-right: dotted 1px darken(white, 30%);
    }

    tr:last-child & 
    { 
        border-bottom: solid 1px $solarized-base1;
    }

    tr:last-child &:first-child
    {
        border-bottom-left-radius: 5px;
    }

    tr:last-child &:last-child
    {
        border-bottom-right-radius: 5px;
    }

}

table
{
    border-collapse: separate;
}

.Notifier
{
    z-index: 1;
    position: absolute;
    right:0;
    bottom:0;
}

.Notification
{
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    color:white;
    .icon
    {
        color: white;
        float:right;
        position: relative;
        top:-5px;
        left:5px;
    }    
}

.ErrorNotification
{
    @extend .Notification;
    background-color: #f66;
}

.InfoNotification
{
    @extend .Notification;
    background-color: #66f;
}

